.upload-div {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-wrap: nowrap;
  gap: 10px;
  padding: 10px;
  overflow: hidden;
  padding-right: 15px;
}

.upload-button, .folder-button, .custom-file-input {
  font-size: 12px;
  padding: 5px 10px;
  margin: 0;
  white-space: nowrap;
}

/* Isolate .unique-text-input styles to avoid conflicts */
input.unique-text-input {
  box-sizing: border-box;
  font-size: 12px;
  padding: 4px;
  /* border: 1px solid #007BFF; */
  border-radius: 25px;
  background-color: #f8f9fa;
  color: #495057;
  height: 35px;
  margin: 0 5px;
  width: auto; 
}


input.unique-text-input:focus {
  outline: 0;
}

.folder-input {
  max-height: 1px;
  border-radius: 25px;
}

.custom-file-input {
  border-radius: 20px;
  background: white;
  border: 1px groove black;
  color: grey;
  font-size: 12px;
  padding: 8px;
  padding-right: 18px;
  padding-left: 18px;
  display: inline-block;
  max-width: 20%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.custom-file-input:hover {
  cursor: pointer;
}
