.body-flex-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrapper {
  flex: 1;
}

.footer {
  background: #333; /* Example background color */
  color: white; /* Example text color */
  display: flex; /* Ensure contents are laid out in a row */
  align-items: center; /* Center items vertically */
  justify-content: space-between; /* Space out items horizontally */
  padding: 10px 20px; /* Adjust padding as needed */
}

.footer-button {
  /* Style your button here */
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.left-content {
  display: flex;
  align-items: center;
}

.right-content {
  display: flex;
  flex-grow: 1; /* Take up all available space */
  text-align: right; /* Align text to the right */
}
