@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap");

.Outside {
	background-color: #7cc0cb;
	display: flex;
	justify-content: space-between;
	padding: 0px 20px 0 20px;
	max-height: 70px;
	overflow: visible;
}

.OutsideProject {
	background-color: #2c4251;
	display: flex;
	justify-content: space-between;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	max-height: 200px;
	overflow: visible;
}

.NotificationBox {
	margin-left: 0px;
	margin-right: 20px;
	padding-top: 10px;
}

.LastPic {
	border-radius: 50%;
}

.Userpic {
	object-fit: cover;
	margin: auto;
	margin-top: 20%;
	padding: 2px;
	border-radius: 50%;
}

.ProjectName {
	margin-bottom: 3px;
	margin-top: 14px;
	color: white;
}

.SearchBar {
	margin-top: 8%;
	margin-right: 50px;
}

.SearchBar input {
	
	width: 15vw;
	height: 33px;
	font-size: 14pt;
	font-family: "Inter";
	text-align: center;
	letter-spacing: 2px;
	display: block;
	margin-bottom: 4%;
	border: #2c4251 2px;
	border-radius: 7px;
}

.Logoimg {
	margin: auto;
	margin-top: 20%;
	padding: 2px;
}

.ProfilePic {
	border-radius: 50%;
	padding: 5px;
}

.Username {
	font-family: "Inter";
	font-weight: 600;
	color: #2c4251;
	margin: 20%;
	margin-left: 0%;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	max-height: 70px;
}

.DropBtn {
	position: relative;
	display: flex;
	justify-content: flex-end;
	cursor: pointer;
	background-color: transparent;
	border: none;
	--bs-btn-active-bg: transparent;
	padding-right: 0;
}
.DropBtn:hover {
	background-color: transparent;
}
.DropBtn:focus {
	background-color: transparent;
}
.DropBtn:focus-visible {
	background-color: transparent;
}

.dropdown {
	display: flex;
	justify-content: flex-end;
	margin-top: 30%;
}

.dropdown-menu {
	position: relative;
	width: 360px;
	max-width: fit-content;
	max-height: fit-content;
	overflow: auto;
	right: 335px;
	top: 10px;
	bottom: 0;
	background-color: #e2856e;
	padding: 10px;
	border-radius: 0.25rem;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
	opacity: 0;
	transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
	transform: translateY(-10px);
	pointer-events: none;
	z-index: 1000;
	min-height: 40vh;
	min-width: fit-content;
}

.dropdown-menu ul {
	list-style-type: none;
	margin: 10px;
	display: block;
}

.dropdown:focus-within .dropdown-menu {
	opacity: 1;
	transform: translateY(0);
	pointer-events: auto;
}

.dropdown-menu.active {
	opacity: 1;
	transform: translateY(0);
	pointer-events: auto;
}

.Message {
	width: 300px;
	height: 90px;
	background-color: #2c4251;
	color: black;
	border-radius: 0.25rem;
	text-align: left;
	margin: 5px 5px 15px 5px;
}

.Message img {
	margin-top: 25px;
	padding: 10px;
}

.Message a {
	color: black;
}

.AddSymbols {
	float: right;
}

.DropdownHeader {
	color: white;
	font-size: 22px;
	font-family: "Inter";
	font-weight: bold;
	margin: 10px;
}

.logoutbtn{
	margin-top: 20%;
	background-color:#7cc0cb !important;
	border-color: #7cc0cb !important;
	--bs-btn-active-bg: #2c4251 !important;
	border-radius: 3px;
}

.logoutbtn:hover{
	background-color: #2c4251 !important;
}

@media screen and (max-width: 600px){
	.Outside{
		display: table-cell;
		min-width: 100vw;
	}

	.SearchBar {
		margin-right: 20px;
	}
	.SearchBar input{
		width: 25vw;
	}
}
